html, body , #__nuxt{
  height: 100vh;
  margin: 0;
  padding: 0;
}

summary::-webkit-details-marker {
  display: none;
}

body {
  --at-apply: bg-base color-base font-sans;
}

html.dark {
  color-scheme: dark;
}

.shiki {
  font-size: 15px;
}

/* Overrides Floating Vue */
.v-popper--theme-dropdown .v-popper__inner,
.v-popper--theme-tooltip .v-popper__inner {
  --at-apply: bg-tooltip color-base font-sans rounded border border-base shadow dark:shadow-2xl;
  box-shadow: 0 6px 30px #0000001a;
}

.v-popper--theme-tooltip .v-popper__arrow-inner,
.v-popper--theme-dropdown .v-popper__arrow-inner {
  visibility: visible;
  --at-apply: border-white dark:border-neutral-900;
}

.v-popper--theme-tooltip .v-popper__arrow-outer,
.v-popper--theme-dropdown .v-popper__arrow-outer {
  --at-apply: border-base;
}

.v-popper--theme-tooltip.v-popper--shown,
.v-popper--theme-tooltip.v-popper--shown * {
  transition: none !important;
}
