on:
  push:
    branches:
      - main

name: release-please

permissions:
  contents: read
  id-token: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      releases_created: ${{ steps.release.outputs.releases_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
      html_url: ${{ steps.release.outputs.html_url }}
    steps:
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4
        id: release
        with:
          token: ${{ secrets.WORKFLOW_PUSH_BOT_TOKEN }}
  publish-npm:
    runs-on: ubuntu-latest
    needs: release-please
    if: ${{ needs.release-please.outputs.releases_created == 'true' }}
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          registry-url: https://registry.npmjs.org
      # npm 11.5.1 or later is required so update to latest to be sure
      - run: npm install -g npm@latest
      - run: pnpm install
      - run: pnpm publish --provenance --access public
  notify-twitter:
    runs-on: ubuntu-latest
    needs:
      - release-please
      - publish-npm
    if: ${{ needs.release-please.outputs.releases_created == 'true' }}
    steps:
      - run: 'npx @humanwhocodes/tweet "@eslint/config-inspector ${{ needs.release-please.outputs.tag_name }} has been released: ${{ needs.release-please.outputs.html_url }}"'
        env:
          TWITTER_CONSUMER_KEY: ${{ secrets.TWITTER_CONSUMER_KEY }}
          TWITTER_CONSUMER_SECRET: ${{ secrets.TWITTER_CONSUMER_SECRET }}
          TWITTER_ACCESS_TOKEN_KEY: ${{ secrets.TWITTER_ACCESS_TOKEN_KEY }}
          TWITTER_ACCESS_TOKEN_SECRET: ${{ secrets.TWITTER_ACCESS_TOKEN_SECRET }}
  notify-mastodon:
    runs-on: ubuntu-latest
    needs:
      - release-please
      - publish-npm
    if: ${{ needs.release-please.outputs.releases_created == 'true' }}
    steps:
      - run: 'npx @humanwhocodes/toot "@eslint/config-inspector ${{ needs.release-please.outputs.tag_name }} has been released: ${{ needs.release-please.outputs.html_url }}"'
        env:
          MASTODON_ACCESS_TOKEN: ${{ secrets.MASTODON_ACCESS_TOKEN }}
          MASTODON_HOST: ${{ secrets.MASTODON_HOST }}
