name: release-please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
      html_url: ${{ steps.release.outputs.html_url }}
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          release-type: node
          package-name: '@eslint/config-inspector'
          pull-request-title-pattern: 'chore: release ${version}'
          changelog-types: >
            [
              { "type": "feat", "section": "Features", "hidden": false },
              { "type": "fix", "section": "Bug Fixes", "hidden": false },
              { "type": "perf", "section": "Performance Improvements", "hidden": false }
            ]
  publish-npm:
    runs-on: ubuntu-latest
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          registry-url: https://registry.npmjs.org
      - uses: pnpm/action-setup@v2
      - run: pnpm install
      - run: pnpm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
  notify-twitter:
    runs-on: ubuntu-latest
    needs:
      - release-please
      - publish-npm
    if: ${{ needs.release-please.outputs.release_created }}
    steps:
      - run: 'npx @humanwhocodes/tweet "@eslint/config-inspector ${{ needs.release-please.outputs.tag_name }} has been released: ${{ needs.release-please.outputs.html_url }}"'
        env:
          TWITTER_CONSUMER_KEY: ${{ secrets.TWITTER_CONSUMER_KEY }}
          TWITTER_CONSUMER_SECRET: ${{ secrets.TWITTER_CONSUMER_SECRET }}
          TWITTER_ACCESS_TOKEN_KEY: ${{ secrets.TWITTER_ACCESS_TOKEN_KEY }}
          TWITTER_ACCESS_TOKEN_SECRET: ${{ secrets.TWITTER_ACCESS_TOKEN_SECRET }}
  notify-mastodon:
    runs-on: ubuntu-latest
    needs:
      - release-please
      - publish-npm
    if: ${{ needs.release-please.outputs.release_created }}
    steps:
      - run: 'npx @humanwhocodes/toot "@eslint/config-inspector ${{ needs.release-please.outputs.tag_name }} has been released: ${{ needs.release-please.outputs.html_url }}"'
        env:
          MASTODON_ACCESS_TOKEN: ${{ secrets.MASTODON_ACCESS_TOKEN }}
          MASTODON_HOST: ${{ secrets.MASTODON_HOST }}
